*, body{
	margin:0px;
	padding:0px;
}

h1{
	color:#13803c;
	font-family:Roboto, Arial;
	padding:10px;
}

h2{
	padding:10px;
}

footer{
	padding:40px;
	background-color:#13803c;
	color:#FFFFFF;
	font-family:Arial;
	font-size:15px;
	text-align:center;
}

p{
	padding:10px;
}

ul{
	text-align: right;
	list-style-position: inside;
}

li{
	color:#000000;
}

li p{
	color:#FFFFFF;
}

.topnav{
	padding:40px;
	background-color:#13803c;
	font-family:Roboto, Arial;
	color:#FFFFFF;
}

.eventtext{
	padding:40px 0px 40px 10px;
	font-family:Arial;
}