*, body{
	margin:0px;
	padding:0px;
	color:#000000;
}

h1{
	font-family:Montserrat;
	font-weight:normal;
	font-size:30px;
}

h2{
	font-family:Montserrat;
	font-weight:normal;
	font-size:22px;
}

h3{
	font-family:Montserrat;
	font-weight:normal;
	font-size:18px;
}

h4{
	font-family:Montserrat;
	font-weight:700;
	font-size:16px;
}

h5{
	font-family:Montserrat;
	font-weight:700;
	font-size:14px;
}

p{
	font-family:Sintony;
	font-weight:normal;
}

a{
	text-decoration:none;
	font-family:Montserrat;
	font-weight:normal;
	font-size:16px;
}

a:hover{
	font-family:Montserrat;
	font-weight:normal;
	font-size:16px;
	border-bottom:4px solid #0d4b69;
}

.wrapper{
	max-width:1024px;
	width:96%;
	padding:0px 2%;
	display:block;
	margin:0px auto;
	position:relative;
}

input:focus {
    outline: none;
}

/* HEADER */

header{
	background-color:#FFFFFF;
}

header .headerlighthouse{
	float:left;
	padding-top:7px;
	padding-left:30px;
}

header .headerlighthouse img{
	width:50px;
}

header .headerlighthouse a:hover{
	border:none;
}

header .headertitle{
	float:left;
	padding-top:25px;
	padding-left:10px;
	line-height: 1;
}

header .headertitle h2{
	font-size:16px;
}

header .searchbar{
	float:right;
	padding-top:10px;
	padding-right:40px;
}

header .searchbar input[type=search]{
	width:300px;
	height:30px;
	border:2px solid #d6d6d6;
	padding:3px;
	padding-left:10px;
}

header .searchbar input[type=search]:focus{
	border:2px solid #636363;
}

header .searchbar input[type=button]{
	border:none;
	width:80px;
	height:30px;
	color:#FFFFFF;
	font-family:Montserrat;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a93a4+0,0b5567+100 */
	background: #4a93a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #4a93a4 0%, #0b5567 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4a93a4 0%,#0b5567 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4a93a4 0%,#0b5567 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a93a4', endColorstr='#0b5567',GradientType=0 ); /* IE6-9 */
}

header .topnav{
	float:right;
	padding-right:15px;
	margin-top:-20px;
	padding-bottom:15px;
}

header .topnav ul{
	list-style:none;
}

header .topnav ul li{
	list-style:none;
	display:inline-block;
	padding-right:25px;
}

header .topnav a{
	padding-bottom:11px;
}

header .topnav a:hover{
	color:#f8a083;
}



/* CONTENT */


/* HOMEPAGE */

.homepage .content .upcomingevents{
	text-align:center;
	display:block;
	margin:0px auto;
	width:100%;
	position:relative;
	background-color:#000000;
	max-height:588px;
}

.homepage .content .upcomingevents .cycle-slideshow{
	display:block;
	margin:0px auto;
	position:relative;
	z-index:1;
	max-height:588px;
	overflow:hidden;
}

.homepage .content .upcomingevents .cycle-slideshow .individualevent{
	width:100%;
	margin:auto;
	text-align:center;
	position:relative;
}


.homepage .content .upcomingevents .cycle-slideshow .individualevent .eventtext{
	position:absolute;
	margin:auto;
	z-index:1;
	top:225px;
	left:0px;
	right:0px;
	bottom:0px;
	max-width:600px;
}

.homepage .content .upcomingevents .cycle-slideshow .individualevent .eventtext h2{
	color:#FFFFFF;
	font-size:30px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.homepage .content .upcomingevents .cycle-slideshow .individualevent .eventtext h3{
	color:#FFFFFF;
	font-size:18px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.homepage .content .upcomingevents .cycle-slideshow .individualevent .eventtext p{
	padding-top:30px;
	font-size:16px;
	color:#FFFFFF;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.homepage .content .upcomingevents .cycle-slideshow .individualevent img{
	max-width:100%;
	position:relative;
	z-index:1;
	float:left;
}

.homepage .content .upcomingevents .buttonwrapper{
	width:100%;
	margin:auto;
	text-align:center;
	position:relative;
}

.homepage .content .upcomingevents .herobuttons{
	position:absolute;
	z-index:2;
	margin:auto;
	top:415px;
	left:0px;
	right:0px;
	bottom:0px;
}

.homepage .content .upcomingevents .herobuttons span{
	cursor:pointer;
	color:#FFFFFF;
	font-size:45px;
}

.homepage .content .upcomingevents .moreeventsbutton{
	position:absolute;
	z-index:2;
	margin:auto;
	top:490px;
	left:0px;
	right:0px;
	bottom:0px;
}

.homepage .content .upcomingevents .moreeventsbutton a{
	padding:15px 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a93a4+0,0b5567+100 */
	background: #4a93a4; /* Old browsers */
	background: -moz-linear-gradient(top,  #4a93a4 0%, #0b5567 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4a93a4 0%,#0b5567 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4a93a4 0%,#0b5567 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a93a4', endColorstr='#0b5567',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	color:#FFFFFF;
	margin-top:175px;
}

.homepage .content .upcomingevents .moreeventsbutton a:hover{
	border:none;
}



.homepage .content .latestnews{
	padding-top:35px;
	text-align:center;
	display:block;
	margin:0px auto;
	max-width:900px;
}

.homepage .content .latestnews .newscolumn{
	float:left;
	text-align:left;
	max-width:350px;
	margin-top:50px;
	margin-right:150px;
}

.homepage .content .latestnews .newscolumn.right{
	margin-right:0px;
}

.homepage .content .latestnews .newscolumn h2{
	font-size:20px;
	font-weight:700;
	padding-top:10px;
}

.homepage .content .latestnews .newscolumn h3{
	font-size:16px;
	padding-bottom:20px;
}

.homepage .content .latestnews .newscolumn .readmore{
	float:right;
	margin:50px 0px;
}

.homepage .content .latestnews .newscolumn .readmore a{
	background-color:#f8a083;
	padding:15px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.homepage .content .latestnews .newscolumn .readmore a:hover{
	background-color:#ffd0cc;
	border-bottom:none;
}



.homepage .content .seasonalresources{
	padding-top:35px;
	display:block;
	margin:0px auto;
	background-color:#02323d;
}

.homepage .content .seasonalresources h1{
	color:#FFFFFF;
	text-align:center;
}

.homepage .content .seasonalresources h2{
	padding-bottom:10px;
}

.homepage .content .seasonalresources .wrapper{
	max-width:800px;
}

.homepage .content .seasonalresources .resourcecolumn{
	float:left;
	width:300px;
	margin:50px 0px;
	margin-right:100px;
	padding:25px 20px;
	background-color:#FFFFFF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.homepage .content .seasonalresources .resourcecolumn a:hover{
	border-bottom:2px solid #0d4b69;
}

.homepage .content .seasonalresources .resourcecolumb hr{
	padding-bottom:10px;
}

.homepage .content .seasonalresources .resourcecolumn ul{
	padding-top:15px;
	margin-left:50px;
}

.homepage .content .seasonalresources .resourcecolumn ul li{
	line-height: 32px;
}

.homepage .content .seasonalresources .resourcecolumn.village{
	margin-right:0px;
}


/* ALL INTERIOR */

.interiorpage{
	background-image:url('../images/backgroundimage.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

.interiorpage .content .interiornav{
	width:100%;
	background-color:#0d4b69;
	-webkit-box-shadow: inset 0px 117px 16px -112px rgba(7,38,54,.5);
	-moz-box-shadow: inset 0px 117px 16px -112px rgba(7,38,54,.5);
	box-shadow: inset 0px 117px 16px -112px rgba(7,38,54,.5);
}

.interiorpage .content .interiornav .wrapper{
	max-width:1024px;
}

.interiorpage .content .interiornav ul{
	list-style:none;
	float:right;
	padding:15px;
}

.interiorpage .content .interiornav ul li{
	list-style:none;
	display:inline-block;
	margin-right:25px;
}

.interiorpage .content .interiornav a{
	color:#FFFFFF;
	font-size:14px;
	padding-bottom:12px;
}

.interiorpage .content .interiornav a:hover{
	color:#ffd0cc;
	font-size:14px;
	border-bottom:4px solid #FFFFFF;
	padding-bottom:12px;
}

.interiorpage .content .wrapper{
	max-width:800px;
}

.interiorpage .contentsection{
	background-color:#FFFFFF;
	max-width:800px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-top:40px;
}

.interiorpage .contentsection h1{
	text-transform:uppercase;
	color:#02323d;
	font-size:22px;
	text-align:center;
	padding-top:20px;
}




/* COMMUNITY */

.interiorpage .contentsection.first .moreevents-link{
	padding:60px 0px;
	padding-bottom:40px;
}

.interiorpage .contentsection.first .moreevents-link p{
	text-align:center;
}

.interiorpage .contentsection.first .moreevents-link a{
	background-color:#f8a083;
	padding:15px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.interiorpage .contentsection.first .moreevents-link a:hover{
	background-color:#ffd0cc;
	border-bottom:none;
}

.interiorpage .contentsection.first .upcomingeventsimages{
	padding:0px 50px;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent{
	float:left;
	margin-right:50px;
	margin-top:30px;
	position:relative;
	max-width:200px;
	max-height:135px;
	overflow:hidden;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent.third{
	margin-right:0px;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent:hover{
	border:2px solid #f8a083;
	box-sizing:border-box;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent img{
	width:100%;
	overflow:hidden;
	position:relative;
	z-index:1;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent a:hover{
	border:none;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent .eventdatewrapper{
	width:200px;
	margin:auto;
	text-align:center;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent .eventdate{
	position:absolute;
	margin:auto;
	top:58px;
	left:0px;
	right:0px;
	bottom:0px;
	z-index:2;
}

.interiorpage .contentsection.first .upcomingeventsimages .individualevent .eventdate h2{
	color:#FFFFFF;
	font-size:18px;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
}

.interiorpage .contentsection.second .eventdescription{
	max-width:700px;
	display:block;
	margin:0px auto;
	padding:30px 0px;
}

.interiorpage .contentsection.second .eventdescription h2{
	font-size:16px;
	font-weight:700;
}

.interiorpage .contentsection.second .eventdescription p{
	font-size:14px;
	line-height:1;
	padding-top:5px;
}

.interiorpage .contentsection.second .eventimage img{
	max-width:700px;
	display:block;
	margin:0px auto;
	margin-top:30px;
}


.interiorpage .contentsection.third .programdescription{
	float:left;
	max-width:150px;
	margin-top:30px;
	margin-left:90px;
}

.interiorpage .contentsection.third .programdescription h2{
	color:#156287;
	font-size:20px;
	font-weight:700;
}

.interiorpage .contentsection.third .programdescription h3{
	font-size:18px;
	font-weight:700;
}

.interiorpage .contentsection.third .programdescription p{
	font-size:14px;
	text-align:left;
	padding-top:30px;
} 

.interiorpage .contentsection.third .fullschedule{
	padding:60px 0px;
	padding-bottom:40px;
}

.interiorpage .contentsection.third .fullschedule p{
	text-align:center;
}

.interiorpage .contentsection.third .fullschedule a{
	background-color:#f8a083;
	padding:15px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.interiorpage .contentsection.third .fullschedule a:hover{
	background-color:#ffd0cc;
	border-bottom:none;
}


/* GOV & SERVICES */

.interiorpage .contentsection .moreinfo-link{
	padding:60px 0px;
	padding-bottom:40px;
}

.interiorpage .contentsection .moreinfo-link p{
	text-align:center;
}

.interiorpage .contentsection .moreinfo-link a{
	background-color:#f8a083;
	padding:15px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.interiorpage .contentsection .moreinfo-link a:hover{
	background-color:#ffd0cc;
	border-bottom:none;
}

.interiorpage .contentsection.first h2{
	font-size:16px;
	font-weight:700;
	text-transform: uppercase;
}

.interiorpage .contentsection.first .boardmeetingscontent{
	padding:0px 75px;
	margin-top:30px;
}

.interiorpage .contentsection.first .boardmeetingscontent .mostrecent{
	float:left;
	max-width:245px;
}

.interiorpage .contentsection.first .boardmeetingscontent .mostrecent a{
	font-size:14px;
}

.interiorpage .contentsection.first .boardmeetingscontent .mostrecent a:hover{
	border-bottom:2px solid #0d4b69;
}

.interiorpage .contentsection.first .boardmeetingscontent .mostrecent h3{
	font-size:14px;
	font-weight:700;
}

.interiorpage .contentsection.first .boardmeetingscontent .mostrecent .boardminutes{
	margin-top:15px;
}

.interiorpage .contentsection.first .boardmeetingscontent .mostrecent .boardminutes ul{
	margin-left:20px;
	margin-top:5px;
}

.interiorpage .contentsection.first .boardmeetingscontent .nextmeeting{
	float:left;
	padding-left:115px;
	max-width:365px;
}

.interiorpage .contentsection.first .boardmeetingscontent .nextmeeting h2{
	text-transform: none;
}

.interiorpage .contentsection.first .boardmeetingscontent .nextmeeting p{
	margin-top:20px;
}

.interiorpage .contentsection.first .boardmeetingscontent .nextmeeting a{
	font-family:Sintony;
	font-weight:700;
}



.interiorpage .contentsection.second .spotlightcontent{
	padding:0px 50px;
	margin-top:30px;
}

.interiorpage .contentsection.second .spotlightcontent .spotlightimage{
	float:left;
	max-width:300px;
}

.interiorpage .contentsection.second .spotlightcontent .spotlightimage img{
	width:100%;
}

.interiorpage .contentsection.second .spotlightcontent .spotlighttext{
	float:left;
	padding-left:40px;
	max-width:355px;
}

.interiorpage .contentsection.second .spotlightcontent .spotlighttext h2{
	font-size:18px;
}

.interiorpage .contentsection.second .spotlightcontent .spotlighttext p{
	margin-top:5px;
}




.interiorpage .contentsection.third .assessmentcontent{
	margin-top:30px;
	padding:0px 50px;
}

.interiorpage .contentsection.third .assessmentcontent .assessmenttext{
	float:left;
	max-width:400px;
}

.interiorpage .contentsection.third .assessmentcontent .assessorimage{
	float:left;
	margin-left:50px;
	max-width:237px;
}

.interiorpage .contentsection.third .assessmentcontent .assessorimage img{
	width:100%;
}

.interiorpage .contentsection.third .assessmentcontent .assessorimage h2{
	font-size:16px;
	text-align:center;
}


/* FOOTER */

footer{
	padding:25px;
	margin-top:40px;
	text-align:center;
	background-image:url("../images/headerfooterbg.jpg");
	-webkit-box-shadow: inset 0px 117px 8px -112px rgba(54,30,7,0.3);
	-moz-box-shadow: inset 0px 117px 8px -112px rgba(54,30,7,0.3);
	box-shadow: inset 0px 117px 8px -112px rgba(54,30,7,0.3);
}

.homepage footer{
	margin-top:0px;
}

footer p{
	font-size:12px;
	padding:5px 0px;
}

footer a{
	font-size:12px;
}

footer a:hover{
	font-size:12px;
	border-bottom:2px solid #0d4b69;
}

footer .footernav ul{
	list-style:none;
	padding:5px 0px;
}

footer .footernav ul li{
	list-style:none;
	display:inline-block;
	padding:0px 5px;
}

footer .footernav ul li p{
	padding:0px;
}